@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

body {
  background-color: #f7f7f7;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}